.site-container {
    position: relative;
    height: 600px;
    margin: auto;
    width: 100%;
    bottom: 50%;
    top: 20vh;
    &__form {
        width: 100%;
        height: 200px;
        margin: auto;
    }
    &__text-area {
        width: 100%;
        text-align: center;
        line-height: 1.5;
        color: #333;
        h1 {
            color: $mainBlue;
        }
        .amtval {
            color: $mainBlue;
            font-size: 2.1em;
            line-height: 1.5;
        }
        .amtInput {
            color: #666;
            font-size: 1.5em;
            line-height: 1.5;
        }
    }
}